fastapi
uvicorn
opencv-python-headless
torch==2.1.2+cpu --extra-index-url https://download.pytorch.org/whl/cpu
torchvision==0.16.2+cpu --extra-index-url https://download.pytorch.org/whl/cpu
ultralytics==8.0.197
numpy==1.26.4
